#HEHeader{
    font-family: monospace;
    font-weight:500;
}

#Home:hover, #Services:hover, #Contact:hover{
    text-decoration: underline;
    cursor:pointer;
}

#Blurb{
    margin-top: 250px;
}

p{
    text-align: center;
}

